{% extends 'adminbase.html.twig' %}

{% block title %}Hello CompteController!{% endblock %}

{% block body %}
    <div class="w-10/12 md:w-1/2 mx-auto mt-24">
        <form method="post" action="{{ path('login') }}">
            <h3 class="text-2xl">Connectez-Vous</h3>
            <div class="my-5 focus:outline-none border rounded-md py-2 px-4">
                {% if error %}
                    <p class="bg-red-300 text-red-800 py-1 px-3">Une erreur est survenue, matricule ou mot de passe incorrecte</p>
                {% endif %}
                <input type="hidden" name="_target_path" value="{{ path('home') }}">
                <div class="flex items-center">
                    <i class="far fa-envelope"></i>
                    <input name="_username" value="{{ user }}" class="ml-2 focus:outline-none w-full" type="text" name="" id="">
                </div>
            </div>
            <div class="my-5  border rounded-md py-2 px-4">
                <div class="flex items-center">
                    <i class="fas fa-lock"></i>
                    <input name="_password" class="ml-2 focus:outline-none w-full" type="text" name="" id="">
                </div>
            </div>
            <div class="">
                <button class="w-full bg-purple-600 text-white py-3 mt-5 rounded">Enregistrer</button>
            </div>
        </form>
    </div>
{% endblock %}
