{% extends 'base.html.twig' %}

{% block title %} Utilisateur{% endblock %}

{% block body %}
    <div class="w-10/12 md:w-4/5 mx-auto">
        <h1 class="text-xl mt-2">Ajouter un utilisateur</h1>
        {{ include('personne/_form.html.twig') }}
        <a href="{{ path('personne_index') }}">back to list</a>
    </div>


{% endblock %}
