{{ form_start(form) }}

<div class="flex flex-col my-2">
    <label for="">Document</label>
    {{ form_widget(form.document,{'attr':{'class':'mt-2 focus:outline-none border-gray-700 border rounded-md py-2 px-4'}}) }}

</div>
    <button class="w-full bg-green-500 text-white py-3 mt-5 rounded">{{ button_label|default('Demander') }}</button>
{{ form_end(form) }}
